torch
numpy
pandas
tqdm
spacy
sacrebleu
sentence-transformers
sentencepiece
protobuf
huggingface_hub
hf_transfer

transformers
datasets
accelerate
peft
trl==0.15.2

bitsandbytes
xformers

unsloth
unsloth_zoo
cut_cross_entropy
